<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>El Pueblo Es El Mar</title>
    <meta property="og:title" content="El pueblo es el mar" />
    <meta property="og:image" content="static/assets/meta-image.jpg" />
    <meta
      property="og:description"
      content="A documentary project about a Marine Protected Area in Argentina"
    />
    <meta property="og:url" content="https://elpuebloeselmar.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="static/assets/favicon.png" />
    <link rel="stylesheet" href="static/style.css" />
    <script src="static/jquery-3.6.0.slim.min.js"></script>
  </head>
  <body>
    <div id="top">
      <a href="/">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-up"
          class="svg-inline--fa fa-chevron-up fa-w-14"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="#fff"
            d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"
          ></path>
        </svg>
      </a>
    </div>
    <div class="modal">
      <div class="modal-content">
        <div class="modal-wrapper">
          <span class="close">X</span>
          <div class="video-container">
            <iframe
              width="100%"
              id="yt-video"
              height="600px"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="terms-container lang" key="terms">
            <div class="terms-wrapper">
              <h3 class="terms-content lang" key="sectionTerms"></h3>
              <p class="terms-content lang" key="sectionTermsContent1"></p>
              <p class="terms-content lang" key="sectionTermsContent20"></p>
              <ul>
                <li class="terms-content lang" key="sectionTermsContent21"></li>
                <li class="terms-content lang" key="sectionTermsContent22"></li>
                <li class="terms-content lang">
                  <span class="lang" key="sectionTermsContent231"></span
                  >&nbsp;<a
                    class="lang teal-link"
                    href="/"
                    key="sectionTermsContent232"
                  ></a
                  >&nbsp;<span class="lang" key="sectionTermsContent233"></span>
                </li>
              </ul>
              <p class="terms-content lang">
                <span class="lang" key="sectionTermsContent31"></span>&nbsp;<a
                  class="lang teal-link"
                  href="mailto:v.relano@oceans.ubc.ca"
                  key="sectionTermsContent32"
                ></a
                >&nbsp;<span class="lang" key="sectionTermsContent33"></span
                >&nbsp;<a
                  class="lang teal-link"
                  href="mailto:contact@watersciencepolicy.com"
                  key="sectionTermsContent34"
                ></a>
              </p>
              <h3 class="terms-content lang" key="sectionEthics"></h3>
              <ul style="padding-bottom: 4rem">
                <li class="terms-content lang" key="sectionEthicsContent1"></li>
                <li class="terms-content lang" key="sectionEthicsContent2"></li>
                <li class="terms-content lang" key="sectionEthicsContent3"></li>
                <li class="terms-content lang" key="sectionEthicsContent4"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-nav-bar">
      <div class="logo-container">
        <a href="/">
          <img id="logo" src="static/assets/logo-white.png" alt="" />
        </a>
      </div>
      <input type="checkbox" id="menuButton" />
      <label for="menuButton" class="menu-button-label">
        <div class="white-bar"></div>
        <div class="white-bar"></div>
        <div class="white-bar"></div>
        <div class="white-bar"></div>
      </label>
      <div class="links-wrapper">
        <div class="nav-link">
          <a href="/#film" class="lang" key="navLink1"></a>
          <a href="/#crews" class="lang" key="navLink4"></a>
          <a href="/#partners" class="lang" key="navLink5"></a>
          <form
            action="https://www.paypal.com/donate"
            method="post"
            target="_top"
          >
            <input
              type="hidden"
              name="hosted_button_id"
              value="TGD94QVHFMZ34"
            />
            <button
              class="a lang donate-btn"
              type="submit"
              target="_blank"
              key="navLink6"
            ></button>
          </form>
        </div>

        <span class="lang-container">
          <div class="translate p" id="en">EN</div>
          <span>|</span>
          <div class="translate p" id="es">ES</div>
        </span>
      </div>
    </div>
    <div class="the-bass">
      <div class="rela-block drop-down-container">
        <div class="drop-down-item">
          <a href="/#film" class="lang" key="navLink1"></a>
        </div>
      </div>
      <div class="rela-block drop-down-container">
        <div class="drop-down-item">
          <a href="/#site" class="lang" key="navLink2"></a>
        </div>
      </div>
      <div class="rela-block drop-down-container">
        <div class="drop-down-item">
          <a href="/#experts" class="lang" key="navLink3"></a>
        </div>
      </div>
      <div class="rela-block drop-down-container">
        <div class="drop-down-item">
          <a href="/#crews" class="lang" key="navLink4"></a>
        </div>
      </div>
      <div class="rela-block drop-down-container">
        <div class="drop-down-item">
          <a href="/#partners" class="lang" key="navLink5"></a>
        </div>
      </div>
      <div class="rela-block drop-down-container">
        <div class="drop-down-item">
          <form
            action="https://www.paypal.com/donate"
            method="post"
            target="_top"
          >
            <input
              type="hidden"
              name="hosted_button_id"
              value="TGD94QVHFMZ34"
            />
            <a target="_blank"
              ><button class="a lang" type="submit" key="navLink6"></button
            ></a>
          </form>
        </div>
      </div>
      <div class="rela-block drop-down-container">
        <div class="drop-down-item">
          <a href="/#contact" class="lang" key="sectionContactLink"></a>
        </div>
      </div>
    </div>
    <div class="hero-image">
      <div class="hero-title">
        <div class="lang" key="heroTitle"></div>
      </div>
      <img
        id="hero-image"
        src="static/assets/hero-image.jpg"
        width="100%"
        height="100%"
      />
      <div class="arrow bouncy">
        <svg height="25" width="50">
          <polygon
            points="0,0 25,10 50,0 25,25"
            fill="rgba(200,200,200,0.8)"
            stroke-width="0"
            stroke="rgba(255,255,255,.3)"
          />
        </svg>
      </div>
    </div>
    <div class="crab-container">
      <div class="container3" id="film">
        <h3 class="text-center lang" key="about1"></h3>
      </div>
      <div class="container" id="film">
        <h2 class="text-center lang" key="sectionFilm"></h2>
        <h4 class="text-center lang" key="sectionFilmTitle1"></h4>
        <p class="lang" key="sectionFilmContent1"></p>
        <p class="lang" key="sectionFilmContent21"></p>
        <p class="lang" key="sectionFilmContent22"></p>
        <p class="lang" key="sectionFilmContent31"></p>
        <h4 class="text-center lang" key="sectionFilmTitle2"></h4>
        <p class="lang" key="sectionFilmContent32"></p>
        <p class="lang" key="sectionFilmContent33"></p>
        <p class="lang" key="sectionFilmContent34"></p>
        <h4 class="text-center lang" key="sectionFilm2"></h4>
        <p class="lang" key="sectionFilmContent35"></p>
        <p class="lang" key="sectionFilmContent36"></p>
        <p class="lang" key="sectionFilmContent37"></p>
        <p class="lang" key="sectionFilmContent38"></p>
        <p class="lang" key="sectionFilmContent39"></p>
      </div>
      <div class="bird-animation-container">
        <div class="bird-container bird-container--one">
          <div class="bird bird--one"></div>
        </div>
        <div class="bird-container bird-container--two">
          <div class="bird bird--two"></div>
        </div>
        <div class="bird-container bird-container--three">
          <div class="bird bird--three"></div>
        </div>
        <div class="bird-container bird-container--four">
          <div class="bird bird--four"></div>
        </div>
      </div>
    </div>
    <div style="margin-top: -10px">
      <div class="container">
        <div class="flex-center text-center flex-column quote-container">
          <span class="quote-icon"
            ><svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="quote-left"
              class="svg-inline--fa fa-quote-left"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M96 224C84.72 224 74.05 226.3 64 229.9V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32S145.7 96 128 96C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96S149 224 96 224zM352 224c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96S405 224 352 224z"
              ></path></svg
          ></span>
          <div class="lang quote" key="quote1"></div>
          <div class="lang quote" key="quote2"></div>
          <span class="quote-icon"
            ><svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="quote-right"
              class="svg-inline--fa fa-quote-right"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M96 96C42.98 96 0 138.1 0 192s42.98 96 96 96c11.28 0 21.95-2.305 32-5.879V288c0 35.3-28.7 64-64 64c-17.67 0-32 14.33-32 32s14.33 32 32 32c70.58 0 128-57.42 128-128V192C192 138.1 149 96 96 96zM448 192c0-53.02-42.98-96-96-96s-96 42.98-96 96s42.98 96 96 96c11.28 0 21.95-2.305 32-5.879V288c0 35.3-28.7 64-64 64c-17.67 0-32 14.33-32 32s14.33 32 32 32c70.58 0 128-57.42 128-128V192z"
              ></path></svg
          ></span>
        </div>
        <div class="quote-author">-- Management Plan</div>
      </div>
    </div>

    <div class="grids">
      <div
        class="grid-card"
        style="
          background-image: url('static/assets/experts.jpg');
          background-position: center;
          height: 400px;
        "
      >
        <div class="flex-center-center h-100 blur">
          <h3 class="lang" key="sectionLocal" style="line-height: 1.25"></h3>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Allan Flores El Chivo.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote1"></p>
          <div class="local">Allan Flores El Chivo</div>
          <div class="lang" key="sectionLocalRole1"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Ana Posada.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote2"></p>
          <div class="local">Ana Posada</div>
          <div class="lang" key="sectionLocalRole2"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Andrés Domínguez El Maistro.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote3"></p>
          <div class="local">Andrés Domínguez El Maistro</div>
          <div class="lang" key="sectionLocalRole3"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Camila Ortega.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote4"></p>
          <div class="local">Camila Ortega</div>
          <div class="lang" key="sectionLocalRole4"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Camilo Thompson Póo.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote5"></p>
          <div class="local">Camilo Thompson Póo</div>
          <div class="lang" key="sectionLocalRole5"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Carlos Ibarra.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote6"></p>
          <div class="local">Carlos Ibarra</div>
          <div class="lang" key="sectionLocalRole6"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Carlos Sánchez.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote7"></p>
          <div class="local">Carlos Sánchez</div>
          <div class="lang" key="sectionLocalRole7"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Cecilia Soldatini.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote8"></p>
          <div class="local">Cecilia Soldatini</div>
          <div class="lang" key="sectionLocalRole8"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Edgar Iván Raval Méndez.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote9"></p>
          <div class="local">Edgar Iván Raval Méndez</div>
          <div class="lang" key="sectionLocalRole9"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Evan Coverdell.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote10"></p>
          <div class="local">Evan Coverdell</div>
          <div class="lang" key="sectionLocalRole10"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Irma González López.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote11"></p>
          <div class="local">Irma González López</div>
          <div class="lang" key="sectionLocalRole11"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Jesús Esteban Rosas El Choco.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote12"></p>
          <div class="local">Jesús Esteban Rosas El Choco</div>
          <div class="lang" key="sectionLocalRole12"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Jorge  Calderón.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote13"></p>
          <div class="local">Jorge Calderón</div>
          <div class="lang" key="sectionLocalRole13"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Jose Luis Ceseña Calderón.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote14"></p>
          <div class="local">Jose Luis Ceseña Calderón</div>
          <div class="lang" key="sectionLocalRole14"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Kátsica Mayoral.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote17"></p>
          <div class="local">Kátsica Mayoral</div>
          <div class="lang" key="sectionLocalRole17"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Laura Martínez Pepin Lehalleur.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote15"></p>
          <div class="local">Laura Martínez Pepin Lehalleur</div>
          <div class="lang" key="sectionLocalRole15"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Lucía Corral.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote16"></p>
          <div class="local">Lucía Corral</div>
          <div class="lang" key="sectionLocalRole16"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Margarita Meza.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote16"></p>
          <div class="local">Margarita Meza</div>
          <div class="lang" key="sectionLocalRole17"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Mario Gómez.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote16"></p>
          <div class="local">Mario Gómez</div>
          <div class="lang" key="sectionLocalRole18"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Marlu Robledo Mejía.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote16"></p>
          <div class="local">Marlu Robledo Mejía</div>
          <div class="lang" key="sectionLocalRole19"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Michael McGettigan.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote16"></p>
          <div class="local">Michael McGettigan</div>
          <div class="lang" key="sectionLocalRole20"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Miguel Palmeros.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote16"></p>
          <div class="local">Miguel Palmeros</div>
          <div class="lang" key="sectionLocalRole21"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\locals\Porfiria Gómez.jpeg" />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote16"></p>
          <div class="local">Porfiria Gómez</div>
          <div class="lang" key="sectionLocalRole22"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          src="static\assets\locals\Teresa Rivera Gómez.jpeg"
        />
        <div class="bio">
          <p class="lang" key="sectionLocalQuote16"></p>
          <div class="local">Teresa Rivera Gómez</div>
          <div class="lang" key="sectionLocalRole23"></div>
        </div>
      </div>

      <div class="container" id="film">
        <h2 class="text-center lang" key="sectionFilm4"></h2>
      </div>
      <div class="picture-grid">
        <div class="picture-item">
          <img
            src="static\assets\Pictures - Behind the scenes\DJI_0035.jpeg"
            alt="Picture 1"
          />
        </div>
        <div class="picture-item">
          <img
            src="static\assets\Pictures - Behind the scenes\DSCF0628.jpeg"
            alt="Picture 2"
          />
        </div>
        <div class="picture-item">
          <img
            src="static\assets\Pictures - Behind the scenes\DSCF0680.jpeg"
            alt="Picture 1"
          />
        </div>
        <div class="picture-item">
          <img
            src="static\assets\Pictures - Behind the scenes\DSCF0757.jpeg"
            alt="Picture 2"
          />
        </div>
        <div class="picture-item">
          <img
            src="static\assets\Pictures - Behind the scenes\DSCF0912.jpeg"
            alt="Picture 1"
          />
        </div>
        <div class="picture-item">
          <img
            src="static\assets\Pictures - Behind the scenes\DSCF0919.jpeg"
            alt="Picture 2"
          />
        </div>
        <div class="picture-grid">
          <div class="picture-item">
            <img
              src="static\assets\Pictures - Behind the scenes\DSCF1214.jpeg"
              alt="Picture 1"
            />
          </div>
          <div class="picture-item">
            <img
              src="static\assets\Pictures - Behind the scenes\DSCF2520.jpeg"
              alt="Picture 2"
            />
          </div>
          <div class="picture-item">
            <img
              src="static\assets\Pictures - Behind the scenes\DSCF2529.jpeg"
              alt="Picture 1"
            />
          </div>
          <div class="picture-item">
            <img
              src="static\assets\Pictures - Behind the scenes\IMG_6926.jpeg"
              alt="Picture 2"
            />
          </div>
          <div class="picture-item">
            <img
              src="static\assets\Pictures - Behind the scenes\IMG_5529.jpeg"
              alt="Picture 1"
            />
          </div>
          <div class="picture-item">
            <img
              src="static\assets\Pictures - Behind the scenes\IMG_9021.jpeg"
              alt="Picture 2"
            />
          </div>
        </div>
      </div>

      <div class="container" id="film">
        <h2 class="text-center lang" key="sectionFilm5"></h2>
      </div>

      <table>
        <tr>
          <td>
            <img
              src="static\assets\events.png"
              width="80%"
              alt="Image 3"
              style="margin-left: 10%"
            />
          </td>
        </tr>
      </table>

      <div class="container" id="film">
        <h2 class="text-center lang" key="sectionFilm3"></h2>
      </div>
    </div>

    <table>
      <tr>
        <td>
          <img
            src="static\assets\Pictures - newspaper\np1.jpeg"
            width="100%"
            alt="Image 1"
          />
        </td>
        <td>
          <img
            src="static\assets\Pictures - newspaper\np2.jpeg"
            width="100%"
            alt="Image 2"
          />
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="static\assets\Pictures - newspaper\np3.jpeg"
            width="100%"
            alt="Image 3"
          />
        </td>
        <td>
          <img
            src="static\assets\Pictures - newspaper\np4.jpeg"
            width="100%"
            alt="Image 4"
          />
        </td>
      </tr>
    </table>
    <div id="container2" class="container text-center">
      <h4 class="lang" key="sectionResourceContent"></h4>
      <div class="primary-btn">
        <a
          href="static\assets\pdf\EEDNM newspaper.pdf"
          class="lang"
          key="sectionResourceDownload"
          target="_blank"
          download
        ></a>
      </div>
    </div>

        
      </div>
    </div>

    <div class="container" id="film">
      <h3 class="text-center lang" key="sectionFilm7"></h3>
      <p class="lang text-center" key="sectionEventContent5"></p>
      <p class="lang text-center" key="sectionEventContent6"></p> 
      <h3 class="lang text-center" key="sectionFollow"></h3>
      
          <div class="social-media-icons">
            <a
              href="https://www.facebook.com/Elpuebloeselmar-105033638709481"
              target="_blank"
              ><svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="facebook"
                class="svg-inline--fa fa-facebook fa-w-16"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                ></path></svg
            ></a>
            <a href="https://www.twitter.com/elpuebloeselmar/" target="_blank"
              ><svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="twitter"
                class="svg-inline--fa fa-twitter fa-w-16"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                ></path></svg
            ></a>
            <a
              href="https://www.youtube.com/channel/UCmo9qRgScy9x-pz2N6eDWIQ"
              target="_blank"
              ><svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="youtube"
                class="svg-inline--fa fa-youtube fa-w-18"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
              >
                <path
                  d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                ></path></svg
            ></a>
            <a href="https://www.instagram.com/elpuebloeselmar/" target="_blank"
              ><svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="instagram"
                class="svg-inline--fa fa-instagram fa-w-14"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                ></path></svg
            ></a>

    </div>
    
      <div class="twitter-container">
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
    <div class="parallax">
      <div class="container">
        <h2 class="lang" key="sectionResource"></h2>
        <p class="lang" key="sectionFilmContent0"></p>
        <h4 class="lang" key="sectionResourceContent"></h4>
        <div class="primary-btn">
          <a
            href="https://watersciencepolicy-my.sharepoint.com/personal/veronica_watersciencepolicy_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fveronica%5Fwatersciencepolicy%5Fcom%2FDocuments%2FSOS%20%2D%20Somos%20OceanoS%5FBaja%20California%20Sur%2FSOS%20%2D%20El%20esp%C3%ADritu%20de%20nuestro%20mar%20%2D%20public%20drive&ga=1"
            class="lang"
            key="sectionResourceDownload2"
            target="_blank"
          ></a>
        </div>
      </div>
    </div>
    
    <div class="grids" id="crews">
      <div
        class="grid-card"
        style="
          background-image: url('static/assets/crew.jpg');
          background-position: center;
          height: 400px;
        "
      >
        <div class="flex-center-center h-100 blur" style="padding: 15px">
          <h3 class="lang" key="sectionCrew" style="line-height: 1.25"></h3>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\Pictures - team\1vero.jpeg" />
        <div class="bio expert">
          <div class="name orange-text">Veronica Relaño</div>
          <div class="lang name orange-text" key="sectionCrewRole1"></div>
          <div class="lang" key="sectionCrewJob1"></div>
          <div class="lang" key="sectionCrewAff1"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          class="zoomed"
          src="static\assets\Pictures - team\2edson.jpeg"
        />
        <div class="bio expert">
          <div class="name orange-text">Edson Estrada</div>
          <div class="lang name orange-text" key="sectionCrewRole2"></div>
          <div class="lang" key="sectionCrewJob2"></div>
          <div class="lang" key="sectionCrewAff2"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          class="zoomed"
          src="static\assets\Pictures - team\3juanjo.jpeg"
        />
        <div class="bio expert">
          <div class="name orange-text">Juan José Cadotte</div>
          <div class="lang name orange-text" key="sectionCrewRole3"></div>
          <div class="lang" key="sectionCrewJob3"></div>
          <div class="lang" key="sectionCrewAff3"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" class="zoomed" src="static\assets\Pictures - team\4christian.jpeg" />
        <div class="bio expert">
          <div class="name orange-text">Christian Fischer</div>
          <div class="lang name orange-text" key="sectionCrewRole4"></div>
          <div class="lang" key="sectionCrewJob4"></div>
          <div class="lang" key="sectionCrewAff4"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          class="zoomed"
          src="static\assets\Pictures - team\5eliana.jpeg"
        />
        <div class="bio expert">
          <div class="name orange-text">Eliana Harrigan</div>
          <div class="lang name orange-text" key="sectionCrewRole5"></div>
          <div class="lang" key="sectionCrewJob5"></div>
          <div class="lang" key="sectionCrewAff5"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          class="zoomed"
          src="static\assets\Pictures - team\6kseniia.jpeg"
        />
        <div class="bio expert">
          <div class="name orange-text">Kseniia Goniaeva</div>
          <div class="lang name orange-text" key="sectionCrewRole6"></div>
          <div class="lang" key="sectionCrewJob6"></div>
          <div class="lang" key="sectionCrewAff6"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" src="static\assets\Pictures - team\7aoki.jpeg" />
        <div class="bio expert">
          <div class="name orange-text">Aoki Yamada</div>
          <div class="lang name orange-text" key="sectionCrewRole7"></div>
          <div class="lang" key="sectionCrewJob7"></div>
          <div class="lang" key="sectionCrewAff7"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          class="zoomed"
          src="static\assets\Pictures - team\8aj.jpeg"
        />
        <div class="bio expert">
          <div class="name orange-text">Ana Julia Leon</div>
          <div class="lang name orange-text" key="sectionCrewRole8"></div>
          <div class="lang" key="sectionCrewJob8"></div>
          <div class="lang" key="sectionCrewAff8"></div>
        </div>
      </div>
      <div class="grid-card">
        <img
          loading="lazy"
          class="zoomed"
          src="static\assets\Pictures - team\9jose.jpeg"
        />
        <div class="bio expert">
          <div class="name orange-text">Jose Reyeros</div>
          <div class="lang name orange-text" key="sectionCrewRole9"></div>
          <div class="lang" key="sectionCrewJob9"></div>
          <div class="lang" key="sectionCrewAff9"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" class="zoomed" src="static\assets\Pictures - team\10mckenzie.jpeg" />
        <div class="bio expert">
          <div class="name orange-text">Mackenzie Kuenz</div>
          <div class="lang name orange-text" key="sectionCrewRole10"></div>
          <div class="lang" key="sectionCrewJob10"></div>
          <div class="lang" key="sectionCrewAff10"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" class="zoomed" src="static\assets\Pictures - team\11daniel.jpeg" />
        <div class="bio expert">
          <div class="name name orange-text">Daniel Galindo</div>
          <div class="lang name orange-text" key="sectionCrewRole11"></div>
          <div class="lang" key="sectionCrewJob11"></div>
          <div class="lang" key="sectionCrewAff11"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" class="zoomed" src="static\assets\Pictures - team\12linda.jpeg" />
        <div class="bio expert">
          <div class="name name orange-text">Linda Mora MacBeath</div>
          <div class="lang name orange-text" key="sectionCrewRole12"></div>
          <div class="lang" key="sectionCrewJob12"></div>
          <div class="lang" key="sectionCrewAff12"></div>
        </div>
      </div>
      <div class="grid-card">
        <img loading="lazy" class="zoomed" src="static\assets\Pictures - team\13rodrigo.jpeg" />
        <div class="bio expert">
          <div class="name name orange-text">Rodrigo Alarcón Ortuño </div>
          <div class="lang name orange-text" key="sectionCrewRole13"></div>
          <div class="lang" key="sectionCrewJob13"></div>
          <div class="lang" key="sectionCrewAff13"></div>
        </div>
      </div>
      
      <div class="grid-card">
        <img loading="lazy" class="zoomed" src="static\assets\Pictures - team\rayhan.jpg" />
        <div class="bio expert">
          <div class="name name orange-text">Rayhan Mundra</div>
          <div class="lang name orange-text" key="sectionCrewRole14"></div>
          <div class="lang" key="sectionCrewJob14"></div>
          <div class="lang" key="sectionCrewAff14"></div>
        </div>
      </div>
    </div>
    <div class="partner-container" id="partners">
      <div class="container text-center">
        <h2 class="lang" key="sectionPartners"></h2>
        <div class="logos-wrapper">
          <div class="logo">
            <img
              loading="lazy"
              src="static\assets\partners\burghausen-logo.png"
            />
          </div>

          <div class="logo">
            <img
              loading="lazy"
              src="static\assets\partners\ELEMENT_logo_onewater.svg"
            />
          </div>

          <div class="logo">
            <img
              loading="lazy"
              src="static\assets\partners\innovacionesAlumbra-logo-clear.png"
            />
          </div>

          <div class="logo">
            <img
              loading="lazy"
              src="static\assets\partners\logo_UBC.png"
            />
          </div>

          <div class="logo">
            <img
              loading="lazy"
              src="static\assets\partners\museo de la ballena.jpg"
            />
          </div>
          <div class="logo">
            <img
              loading="lazy"
              src="static\assets\partners\niparaja.jpeg"
            />
          </div>
          <div class="logo">
            <img
              loading="lazy"
              src="static\assets\partners\orgcas.jpg"
            />
          </div>
          <div class="logo">
            <img
              loading="lazy"
              src="static\assets\partners\ROC logo.png"
            />
          </div>
          <div class="logo">
            <img
              loading="lazy"
              src="static\assets\partners\seawatch logo.png"
            />
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="flex-start">&copy; 2023 El Espíritu De Nuestro Mar</div>
        <div class="flex flex-wrap">
          <a
            class="link trigger lang"
            id="terms"
            onclick="this.id"
            key="sectionTermsLink"
          ></a>
          <a class="link lang" key="sectionContactLink" href="#contact"></a>
          <form
            action="https://www.paypal.com/donate"
            method="post"
            target="_top"
          >
            <input
              type="hidden"
              name="hosted_button_id"
              value="TGD94QVHFMZ34"
            />
            <button
              class="a lang"
              type="submit"
              target="_blank"
              key="navLink6"
            ></button>
          </form>
          <div class="social-media-icons">
            <a
              href="https://www.facebook.com/Elpuebloeselmar-105033638709481"
              target="_blank"
              ><svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="facebook"
                class="svg-inline--fa fa-facebook fa-w-16"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                ></path></svg
            ></a>
            <a href="https://www.twitter.com/elpuebloeselmar/" target="_blank"
              ><svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="twitter"
                class="svg-inline--fa fa-twitter fa-w-16"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                ></path></svg
            ></a>
            <a
              href="https://www.youtube.com/channel/UCmo9qRgScy9x-pz2N6eDWIQ"
              target="_blank"
              ><svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="youtube"
                class="svg-inline--fa fa-youtube fa-w-18"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
              >
                <path
                  fill="currentColor"
                  d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                ></path></svg
            ></a>
            <a href="https://www.instagram.com/elpuebloeselmar/" target="_blank"
              ><svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="instagram"
                class="svg-inline--fa fa-instagram fa-w-14"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="currentColor"
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                ></path></svg
            ></a>
          </div>
        </div>
      </div>
    </footer>
  </body>

  <script src="static/script.js"></script>
  <script src="static/language.js"></script>
</html>
